body {
    background-color: rgb(29, 31, 33);
    color: white;
    /*height: 300vh;*/
}

html {
    scroll-behavior: smooth;
}


a {
    color: inherit;
    text-decoration: none;
}

.buttons-container {
    position: relative;
    text-align: center;
    align-self: center;
    margin-top: 40px;
    padding: 40px;
    width: 600px;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

.button {
    border: 1px solid darkorange;
    position: relative;
    border-radius: 5px;
    background-color: darkorange;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 16px;
    opacity: 0.7;
    
    transition: all 0.3s;
    
}

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.3s;
    }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.3s;
        }

    .button:hover span {
        padding-right: 25px;
    }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }

.button:hover {opacity: 1; cursor: pointer}

.circle {
    background-color: #fff;
    border: 1px solid red;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
}

.hyperlink {
    text-decoration: none;
    color: inherit;
}
.hyperlink:hover {color: darkorange;}

.my-projects-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    
   
    color: white;
    font-family: 'Arial Rounded MT';
    font-size: 22px;
}

#paragraph-title {
    color: lightblue;
    font-size: 48px;
}

#about-me {
    
    
    margin: 50px;
    font-family: 'Arial Rounded MT';
    /*
    border-color: white;
    border: solid;
    */
    margin-top: 10px;
    font-size: 36px;
    text-align: left;
    
    padding: 14px;
}

#aboutme-para {
    margin: 50px;
    font-family: 'Arial Rounded MT';
    /*
    border-color: white;
    border: solid;
    */
    width: 700px;
    margin-top: 10px;
    font-size: 32px;
    text-align: left;
    padding: 14px;
}

#iframe-googlemaps {
    position: absolute;
    display: block;
    top: 50px;
    right: 160px;
    margin: 0 auto;
    
}

#homepage {
    margin: 50px;
    font-family: 'Arial Rounded MT';
    /*
    border-color: white;
    border: solid;
    */
    margin-top: 10px;
    font-size: 36px;
    text-align: center;
    padding: 14px;
}

/*    #about-me:hover, #my-experience:hover, #what-do-i-study:hover {
        background-color: #23272a;
    }*/

#what-do-i-study {
    
    
    font-family: 'Arial Rounded MT';
    /*border-color: white;
    border: solid;
        */
    font-size: 24px;
    text-align: center;
    padding: 14px;
}

#my-experience {
    
    text-align: center;
    
    margin: 50px;
    font-family: 'Arial Rounded MT';
    /* border-color: white;
    border: solid;
        */
    top: 540px;
    margin-top: 40px;
    font-size: 24px;
    padding: 14px;
}

#header {
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    text-align: center;
    padding: 20px;
}



.fa-location-arrow:hover {
    color: darkorange !important;
}

.fa-school:hover {
    color: darkorange !important;
}

.footer {
    position: relative;
    margin-top: 60px;
    align-content: center;
    align-items: center;
    left: 0;
    color: #656666;
    bottom: 30px;
    width: 100%;
    font-family: sans-serif;
    text-align: center;
}


.footer-icon {
    color: white;
    opacity: 0.6;
    transition: 0.3s;
    width: 22px;
    height: 25px;
    text-decoration: none;
}

.footer-icon:hover {color: darkorange; opacity: 1}


.project {
    position: relative;
    transition: transform 1s ease-in-out;
    margin-left: 100px;
    width: 440px;
}

    .project:hover {
        transform: scale(1.1);
    }



    .project span:not([id]) {
        font-family: inherit;
        font-size: 1em;
        width: 640px;
    }

.project p:not([id])  {

    position: relative;
    color: darkorange;
    text-align: left;
    width: fit-content;
    font-family: inherit;
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, rgb(40, 40, 33) 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    font-size: 1.74em;
    text-decoration: none;
    transition: background-position 0.5s ease-out;
}


.project p:hover {
    
    background-position: -99.99% 0;
}
